*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

body {
    background-color: $verdeEscuro;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-stretch {
    align-items: stretch;
}

.self-center {
    align-self: center;
}

.gap-2 {
    gap: 2px;
}

.gap-16 {
    gap: 16px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Posição */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.height-auto {
    height: auto;
}

.width-auto {
    width: auto;
}

input {
    @extend .border-radius, .outline-0;
    background-color: $marromClaro;
    padding: 5px 10px;
    color: $verdeEscuro;
    border: 2px solid transparent;

    &::placeholder {
        color: $verdeEscuro;
    }

    &:focus {
        border: 2px solid $marromEscuro;
    }
}