.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}
.gap-16 {
    gap: 16px;
}

.inline-block {
    display: inline-block;
}

/* Posição */

.relativo {
    position: relative;
}

.height-auto {
    height: auto;
}