.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.gap-16 {
    gap: 16px;
}