.border-radius {
    border-radius: 8px;
}

.border-0 {
    border: 0;
}

.outline-0 {
    outline: 0;
}

.width-full {
    width: 100%;
}

.largada-marca {
    &::marker {
        content: 'Largada ' counter(lista-item) ': ';
    }
}